nav {
    padding-left: 10px;
}

/* body {
    background-image: url("bandlights.jpg");
} */

/* #bandlights {
    opacity: 0.75;
} */

.input-field {
    margin-bottom: 5%;
}

.btn {
    margin-top: 5%;
}