nav {
    padding-left: 10px;
    font-family: 'Shadows Into Light', cursive;
}

#bandlights {
    opacity: 0.75;
} 

.input-field {
    margin-bottom: 5%;
}

.btn {
    margin-top: 5%;
}

i.icon-teal {
    color: #009688;
}

i.icon-saved {
    color: #FFD180;
}

.brand-logo {
    width: 70px;
    height: 70x;
    margin-bottom: 10px;
}

.pointer-hover {
    cursor: pointer;
}

.cover {
    object-fit: cover;
}

.name {
    font-size: 30px;
    padding-left: 5%;
}

.eventImage{
    width: 84px;
    height: 84px;
}

.left {
    margin-top: 75px;
}

body {
    font-family: 'Shadows Into Light', cursive;
}

.favorites-image {
    object-fit: cover;
    height: 210px;
}
.eventRow{
    margin-bottom: 0px;
    padding: 0px;
}
.eventContainer{
    padding-left: 0px;
}
.collection .collection-item.avatar{
    padding-left: 0px;
    padding: 0px;
}
.material-icons{
    font-size: 50px;
}

.row .col.s1{
    width: 10.33%;
}

.eventName{
    font-family: 'Times New Roman', Times, serif;;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.dropdown-content li>span{
    padding-top: 4px;
    padding-right: 14px;
    padding-bottom: 4px;
    padding-left: 14px;
}

 a {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
 }

 label {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
 }
.dropdown-content li{
    min-height: 25px;
}

.card .card-title {
    font-size: 18px;
    margin-left: 10px;
}

.card .card-image img {
    margin-bottom: 10px;
}

.card-link {
    font-size: 18px;
}


.input-field {
    margin-bottom: 3%;
}
